/* ====================
        font-family
======================*/
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('/font/MyriadPro/MyriadPro-Regular.eot');
  src: url('/font/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('/font/MyriadPro/MyriadPro-Regular.ttf') format('truetype'),
       url('/font/MyriadPro/MyriadPro-Regular.woff') format('woff'),
       url('/font/MyriadPro/MyriadPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/font/Gotham/Gotham-Medium.eot');
  src: url('/font/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
       url('/font/Gotham/Gotham-Medium.ttf') format('truetype'),
       url('/font/Gotham/Gotham-Medium.woff') format('woff'),
       url('/font/Gotham/Gotham-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('/font/Gotham/Gotham-Book.eot');
  src: url('/font/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
       url('/font/Gotham/Gotham-Book.ttf') format('truetype'),
       url('/font/Gotham/Gotham-Book.woff') format('woff'),
       url('/font/Gotham/Gotham-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('Gotham-Bold.eot');
  src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       url('Gotham-Bold.ttf') format('truetype'),
       url('Gotham-Bold.woff') format('woff'),
       url('Gotham-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-BoldCondensed';
  src: url('/font/Roboto/Roboto-BoldCondensed.eot');
  src: url('/font/Roboto/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),
       url('/font/Roboto/Roboto-BoldCondensed.ttf') format('truetype'),
       url('/font/Roboto/Roboto-BoldCondensed.woff') format('woff'),
       url('/font/Roboto/Roboto-BoldCondensed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



/* ====================
        Typography
======================*/
body {
    font: 15px/24px 'Gotham-Book', sans-serif;
    background: #222;
    color: #fff;
}

h1 {
    font: 153px  'Gotham-Bold', sans-serif;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font: 38px/45px  sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font: 18px/36px  sans-serif;
}

h2, h3 {
    text-transform: uppercase;
    font-family: 'Gotham-Medium', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:valid {
  color: red;
}

/* ====================
        Container
======================*/
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-p {
  padding-top: 150px;
}

.center-wrap {
  text-align: center;
}

.center-wrap h2 {
  position: relative;
  z-index: 2;
}

.center-wrap h2:before {
  content: '';
  font-family: 'Roboto-BoldCondensed', sans-serif;
  position: absolute;
  font-size: 248px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.center-wrap p {
  margin-top: 87px;
  font: 30px/37px 'Gotham-Book';
}

/* ====================
        Header
======================*/
header {
  background: url(/img/bg-header.jpg) center no-repeat #222;
  background-size: cover;
}

.main-bar li,
.main-bar nav,
.main-bar .main-social,
.main-bar .main-icon {
  display: inline-block;
}

.main-wrap {
  border-bottom: 2px solid rgba(204, 204, 204, 0.3);
}

.main-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 20px;
  
}

.main-bar ul {
  display: flex;
  justify-content: space-between;
  font: 20px 'MyriadPro-Regular', sans-serif;
}

.main-social ul {
  width: 122px;
}

.main-nav ul {
  width: 660px;
  padding-left: 300px;
}

.main-nav ul a:hover {
  border-bottom: 5px solid #006699;
  transition: all 70ms ease 0s;

}

.main-nav ul a {
  padding: 0 10px 40px 10px;
}

.main-bar li {
  list-style: none;
}

.main-icon {
  font: 31px/67px 'Open sans', sans-serif;
  background-color: #11749e;
  box-shadow: 12px 8px 0 rgba(204, 204, 204, 0.7);  
  text-transform: uppercase;
  text-align: center;
  height: 67px;
  width: 67px;
}

.main-info {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  margin-top: 275px;
  margin-bottom: 20px;
}

.main-info p {
  color: #006699;
  font: 25px/50px 'Gotham-Medium', sans-serif;
  letter-spacing: 20px;
  padding-left: 20px;
}

.main-info button {
  background-color: transparent;
  border: none;
  margin-top: 80px;
  margin-bottom: 100px;
}
.main-info button span {
  display: block;
  font: 13px/22px 'MyraidPro', sans-serif;
}

.main-info button i {
  margin-top: 20px;
  padding: 16px 20px;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* ====================
        Agency
======================*/
.awesome {
  background-color: #11749e;
  padding-bottom: 120px;
}

.center-wrap-agency h2:before {
  content: 'W';
  color: #3c8daf;
}

.advantages {
  margin-top: 111px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

div[class*="advantages-"],
div[class*="designer"] {
  width: 270px;
  text-align: center;
}

div[class*="advantages-"] img {
  padding-top: 10px;  
}

div[class*="advantages-"] h3 {
  margin-top: 15px;
  margin-bottom: 11px;
}

.img-advantages {
  display: inline-block;
  padding: 30px 40px;
  border-radius: 50%;
  background-color: #2e85aa;
}

/* ====================
        Akita
======================*/
.akita-info,
.akita-photo {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.akita-info {
  box-sizing: border-box;
  padding: 100px 100px 199px 100px;
}

.akita-info:first-child {
   padding: 100px 10px 199px 220px;
}

.akita-info span {
  font: 13px/24px 'Gotham-Book', sans-serif;
  margin-bottom: 8px;
}

.akita-info h3 {
  padding-left: 4px;
  font-size: 25px;
  margin: 0;
}

.akita-info p {
  white-space: pre-line;
  margin-top: 36px;
  margin-bottom: 0;
}

.akita-photo {
  margin-bottom: -7px;
}

.akita-photo img {
  width: 100%;
}

.akita :nth-child(2n) {
  margin-left: -5px;
}

.akita :nth-child(4) {
  background-color: #ffffff;
  color: #222222
}

/* ====================
        Blog
======================*/
.blog {
  background-color: #ffffff;
  color: #222222;
  padding-bottom: 106px;
}

.center-wrap-blog h2:before{
  content: 'B';
  color: #e2e2e2;
}

div[class*="designer-"] h3 {
  color: #11749e;
  margin-top: 36px;
  margin-bottom: 17px;
}
/* ====================
      Additionally
======================*/
.additionally {
  background-color: #11749e;
  padding-top: 115px;
  padding-bottom: 160px;
}

.additionally .container{
  display: flex;
  justify-content: space-around;
}

.additionally-info {
  display: inline-block;
  position: relative;
  width: 455px;
  height: 90px;
  padding-left: 100px;
}

.additionally-info::before {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  background: url(/img/Big-write.png) center center no-repeat;
  background-size: cover;
  top: 12px;
  left: 0;
}

.additionally-info p {
  margin: 0;
}

/* ====================
      Akita-mobile
======================*/
.akita-mobile {
  background: url('/img/bg-akita.jpg') center center no-repeat;
  background-size: cover;
}

.akita-mobile-info {
  display: inline-block;
  vertical-align: top;
  height: 395px;
  width: 470px;
  padding-top: 120px;
  margin-right: 250px;
}

.container-a {
  padding-top: 100px;
  padding-bottom: 100px;
}

.akita-mobile-info h3 {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 0;
}

.akita-mobile-info p {
  margin-bottom: 40px;
}

.akita-mobile-span span {
  display: inline-block;
  background-color: #11749e;
  text-transform: uppercase;
  padding: 8px 20px;
  margin-bottom: 24px;
}

.akita-mobile-span {
  white-space: pre-line;
  display: inline-block;
}

.akita-mobile-span span:first-child {
  padding-right: 135px;
}

.akita-mobile-span span:nth-child(2) {
  padding-right: 220px;
}

.akita-mobile-span span:last-child {
  padding-right: 160px;
  margin-bottom: 0;
}

/* ====================
      Team
======================*/
.team {
  color: #222222;
  background-color: #ffffff;
  padding-bottom: 125px;
}

.center-wrap-team h2::before {
  content: 'T';
  color: #e2e2e2;
}

.advantages figure {
  position: relative;
}

.advantages figcaption {
  position: absolute;
  top: 365px;
  left: 35px;
  padding: 20px 34px;
  background-color: #fff;
  text-align: center;
  font: 15px/24px 'Gotham-medium', sans-serif;
}

.advantages figcaption span {
  display: block;
  text-transform: uppercase;
  color: #11749e;
  font:  20px/24px 'Gotham-medium', sans-serif;
}

/* ====================
      Contact
======================*/
.contact {
  padding-top: 220px;
  padding-bottom: 210px;
  background: url('/img/bg-contact.jpg') center center no-repeat;
  background-size: cover;
}

.center-wrap-contact h2:before {
  content: 'C';
  color: rgba(255, 255, 255, 0.2);
}

.contact-form {
  margin-top: 145px;
}

.contact-form fieldset {
  padding: 0;
  border: none;
}

.contact-form fieldset input {
  color: #ffffff;
  padding-left: 20px;
  margin-right: 77px;
  width: 387px;
  height: 45px;
  background-color: inherit;
}

.contact-form fieldset input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 1);
}

.contact-form fieldset input:last-child {
  margin-right: 0;
}

.contact-form textarea {
  color: #ffffff;
  width: 1350px;
  height: 120px;
  margin-top: 40px;
  margin-bottom: 45px;
  background-color: inherit;
  border-width: 2px;
  padding: 15px 20px;
}

.contact-form > input {
  display: inline-block;
  font: 24px/24px 'Gotham-Medium', sans-serif;
  color: #ffffff;
  border: none;
  background-color: #11749e;
  padding: 20px 60px 30px 60px;
  margin-left: 45%;
  margin-right: 45px;
  cursor: pointer;
} 

/* ====================
      Our-location
======================*/
.our-location img {
  width: 100%;
}


/* ====================
      Footer
======================*/
footer .container {
  display: flex;
  justify-content: space-between;
}

.copy,
.main-address {
  display: inline-block;
}

.copy p {
  margin-top: 40px;
  margin-bottom: 50px;
}

.main-address p{
  margin-top: 39px;
  margin-bottom: 40px;
}

.main-address p {
  font-style: normal;
}

.main-address > p > img {
  vertical-align: -8px;
}

/* end or no ? */